.navbar-test {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-title {
    color: #839BEF;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 15px;
}

.navbar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fitflow-btn {
    background-color: #839BEF;
    border-radius: 36px;
    font-weight: bold;
    font-size: 1em;
    text-transform: none;
    box-shadow: none;
}

.btn-signup {
    @extend .fitflow-btn;

}

.btn-login {
    @extend .fitflow-btn;
    color: #AAB4BE;
    background-color: transparent;
    border: 2px solid #AAB4BE;
}
.fa-circle-user {
    color: #AAB4BE;
    font-size: 2em;
    margin-right: 7px;
}

.fa-angle-down {
    font-size: 0.9em;
    margin-left: 5px;
}

.fa-gear {
    color: #AAB4BE;
    font-size: 1.6em;
    margin-right: 7px;
}

.navbar-link {
    color: #AAB4BE;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 1em;
    text-decoration: none;
    padding-right: 15px;
}

