:root {

  /** LIGHT THEME */

  /* Base Colors */
  $c-white: #ffffff;
  $c-grey: #E9EBEE;
  $c-text-light: #AAB4BE;
  $c-primary: #839BEF;

  /* Other Colors */
  --c-background: #{$c-white};
  --c-pagebg: #{$c-grey};
  --c-textcolor: #{$c-text-light};
  --c-primary: #{$c-primary};
}


body {
  background-color: var(--c-pagebg) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
