.banner-container {
  
    width: 100%;
    height: 60vh; 

}

.banner {
    width: 100%;
    height: 700px;
    background-image: url('../assets/images/banner-image.jpg');
    background-size: cover; /* or 'contain', depending on your preference */
    background-repeat: no-repeat;
    background-position: center top;
}